<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/createBlog.css">

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand"> Blogs By Aniket </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <li> <a href="/blogs"> Home </a> </li>
          <li> <a href="#"> About </a> </li>
            <li> <a href="/blogs/create"> AddBlog </a> </li>

      </div>
      </div>
    </nav>
