<% include partials/header.ejs %>
<h1> create </h1>

<!-- Create a form that will create blogs -->

<form action="" method="">
  <div class="form-group">
    <h2 class="h2"> Title </h1>
  <input type="text" name = "blogName" placeholder="enter the blog title" class="form-control">
</div>
<div class="form-group">
  <h2 class="h2">Sub-Title</h2>
  <input type="text" name="heading" placeholder="enter the subtitle" class="form-control">
</div>
</form>

<% include partials/footer.ejs %>
